# Ignore environment files
.env
key.env

# Ignore Python cache files and folders
__pycache__/
*.pyc

# Ignore any temporary data files
*.log
*.csv

# Ignore Terraform local directories and state
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl